Repository JeonB/restaurant-picker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_back, trigger_mobile

trigger_back:
  stage: triggers
  trigger:
    include: packages/back/.gitlab-ci.yml

trigger_mobile:
  stage: triggers
  trigger:
    include: apps/mobile-app/.gitlab-ci.yml

Delete unused files and update dependencies
  .gitlab-ci.yml
  apps/mobile-app/App.tsx
  apps/mobile-app/src/Main.tsx
  apps/mobile-app/src/components/index.ts
  apps/mobile-app/src/components/random/randomItemSelect.tsx
  apps/mobile-app/src/components/random/randomPickModal.tsx
  apps/mobile-app/src/components/ui/categoryButton.tsx
  apps/mobile-app/src/components/ui/dataView.tsx
  apps/mobile-app/src/components/ui/restaurantInfo.tsx
  apps/mobile-app/src/index.css
  apps/mobile-app/src/index.ts
  apps/mobile-app/src/services/api.ts
  apps/mobile-app/src/types/index.ts
  apps/mobile-app/tsconfig.json
  package-lock.json
  packages/back/.gitlab-ci.yml
  packages/back/Dockerfile
  packages/back/app.yml
  packages/back/package.json
  packages/back/src/decorators/db.ts
  packages/back/src/index.ts
  packages/back/src/modules/restaurant/router.ts
  packages/back/src/modules/user/router.ts
  packages/back/src/tests/restaurant.http
  packages/back/src/tests/user.http
  packages/back/src/types/fastify/index.d.ts
  packages/back/tsconfig.json
Due: trigger_back, trigger_mobile

test
  .gitlab-ci.yml
  packages/back/.gitlab-ci.yml
Due: trigger_back

test dind
  packages/back/.gitlab-ci.yml
Due: trigger_back

deploy test
  packages/back/.gitlab-ci.yml
Due: trigger_back

gaboza gaboza
  packages/back/Dockerfile
Due: trigger_back

Update docker-compose command in .gitlab-ci.yml
  packages/back/.gitlab-ci.yml
Due: trigger_back

Update backend image and add container name
  packages/back/app.yml
Due: trigger_back

Change port mapping from 5432 to 5434 in app.yml
  packages/back/app.yml
Due: trigger_back

Add dotenv dependency and update Dockerfile
  packages/back/Dockerfile
  packages/back/package.json
Due: trigger_back

Update Dockerfile CMD to start the application in the correct directory
  packages/back/Dockerfile
Due: trigger_back

Update server URL in index.ts
  packages/back/src/index.ts
Due: trigger_back

Update server host to allow external access
  packages/back/src/index.ts
Due: trigger_back

Update server URLs and host configuration
  packages/back/src/index.ts
Due: trigger_back

Update server URL and staticCSP configuration
  packages/back/src/index.ts
Due: trigger_back

Update mobile-app configuration and components
  apps/mobile-app/App.tsx
  apps/mobile-app/app.json
  apps/mobile-app/babel.config.js
  apps/mobile-app/package-lock.json
  apps/mobile-app/package.json
  apps/mobile-app/src/Main.tsx
  apps/mobile-app/src/components/random/randomItemSelect.tsx
  apps/mobile-app/src/components/random/randomPickModal.tsx
  apps/mobile-app/src/components/ui/categoryButton.tsx
  apps/mobile-app/src/components/ui/categoryFilter.tsx
  apps/mobile-app/src/components/ui/dataView.tsx
  apps/mobile-app/src/components/ui/detailView.tsx
  apps/mobile-app/src/components/ui/map.tsx
  apps/mobile-app/src/components/ui/radioButton.tsx
  apps/mobile-app/src/components/ui/restaurantInfo.tsx
  apps/mobile-app/src/services/api.ts
  apps/mobile-app/src/types/filter.ts
  apps/mobile-app/src/types/index.d.ts
  apps/mobile-app/src/types/navigation.ts
  package-lock.json
Due: trigger_mobile

Refactor UI components and import paths
  apps/mobile-app/App.tsx
  apps/mobile-app/src/components/random/randomItemSelect.tsx
  apps/mobile-app/src/components/random/randomPickModal.tsx
  apps/mobile-app/src/components/ui/categoryButton.tsx
  apps/mobile-app/src/components/ui/categoryFilter.tsx
  apps/mobile-app/src/components/ui/dataView.tsx
  apps/mobile-app/src/components/ui/radioButton.tsx
  apps/mobile-app/src/components/ui/restaurantInfo.tsx
  package-lock.json
Due: trigger_mobile

Update Map component to include appKey dependency
  apps/mobile-app/assets/main.png
  apps/mobile-app/assets/randomres1.png
  apps/mobile-app/assets/splash.png
  apps/mobile-app/src/components/ui/map.tsx
  package-lock.json
Due: trigger_mobile

Update GitLab CI configuration for mobile-app and back packages
  .gitlab-ci.yml
  apps/mobile-app/.gitlab-ci.yml
  apps/mobile-app/Dockerfile
  apps/mobile-app/app.yml
  packages/back/.gitlab-ci.yml
  packages/back/app.yml
Due: trigger_back, trigger_mobile

Update PATCH_VERSION increment logic in .gitlab-ci.yml
  apps/mobile-app/.gitlab-ci.yml
  packages/back/.gitlab-ci.yml
Due: trigger_back, trigger_mobile

Update PATCH_VERSION increment logic in .gitlab-ci.yml
  packages/back/.gitlab-ci.yml
Due: trigger_back

Update Docker image tags in .gitlab-ci.yml
  apps/mobile-app/.gitlab-ci.yml
  packages/back/.gitlab-ci.yml
Due: trigger_back, trigger_mobile

gitlab ci cd test
  packages/back/src/modules/restaurant/router.ts
Due: trigger_back

Update mainMessage in restaurant router to include additional text
  packages/back/src/modules/restaurant/router.ts
Due: trigger_back

Update Docker image tags and versioning in .gitlab-ci.yml
  apps/mobile-app/.gitlab-ci.yml
  packages/back/.gitlab-ci.yml
  packages/back/app.yml
Due: trigger_back, trigger_mobile

Update default tags in .gitlab-ci.yml
  packages/back/.gitlab-ci.yml
Due: trigger_back

test
  packages/back/.gitlab-ci.yml
Due: trigger_back

# 진짜 찐막 dangling image 삭제 테스트
  packages/back/.gitlab-ci.yml
Due: trigger_back

진짜 최종 라스트 테스트
  packages/back/.gitlab-ci.yml
Due: trigger_back

Update Docker image tag for backend service in app.yml
  packages/back/app.yml
Due: trigger_back

Refactor Docker build command in .gitlab-ci.yml
  packages/back/.gitlab-ci.yml
Due: trigger_back

Add test job to .gitlab-ci.yml
  packages/back/.gitlab-ci.yml
Due: trigger_back

Update test job in .gitlab-ci.yml
  packages/back/.gitlab-ci.yml
Due: trigger_back

Refactor Docker build command and clean up dangling images in .gitlab-ci.yml
  packages/back/.gitlab-ci.yml
Due: trigger_back

Refactor Docker build command and clean up dangling images in .gitlab-ci.yml
  apps/mobile-app/.gitlab-ci.yml
  packages/back/.gitlab-ci.yml
Due: trigger_back, trigger_mobile

Refactor Docker build command and update environment variables in .gitlab-ci.yml and app.yml
  apps/mobile-app/.gitlab-ci.yml
  apps/mobile-app/app.yml
Due: trigger_mobile

Path conditions:
  trigger_back: any of: packages/back/**/*
  trigger_mobile: any of: apps/mobile-app/**/*
